.body {
    background-image: url("http://reidark.com.br/themes/soundcast/assets/img/podcast-hero.jpg");
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.plyr {
    border-radius: 4px;
    margin-bottom: 15px;
}